html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

main {
  background-color: #333333;
  text-align: center;
  height: 100%;
  width: 100%;
}

main #game-canvas {
  margin-top: 20px;
  border-radius: 5px;
}
